.promo__title {
  text-align: center;
  font-weight: 400;
  font-size: 31px;
  line-height: 39px;
  letter-spacing: -1.24px;
  padding: 207px 10px 246px;
  margin: 0;
  background-color: #073042;
  background-image: url(../../../images/landing-logo.svg);
  background-repeat: no-repeat;
  background-size: 248px;
  background-position: center 142px;
}

@media (min-width: 768px) {
  .promo__title {
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -2px;
    padding: 326px 19px 342px;
    background-size: 320px;
    background-position-y: 224px;
  }
}

@media (min-width: 1280px) {
  .promo__title {
    font-size: 50px;
    line-height: 58px;
    padding: 184px 275px 224px;
    background-position-y: 82px;
  }
}