.movies__item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: #202020;
  width: 100%;
  min-height: 240px;
}

.movies__info {
  display: flex;
  flex-direction: column;
  order: 1;
  padding-bottom: 10px;
  height: 100%;
}

.movies__heading {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 0;
  margin-bottom: auto;
}

.movies__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: 5px 0 0;
}

.movies__image {
  display: block;
  width: 100%;
  aspect-ratio: 1.786;
  object-fit: cover;box-sizing: border-box;
}

.movies__duration {
  position: relative;
  font-size: 10px;
  line-height: 12px;
  color: #8b8b8b;
  padding: 6px 0 0;
  margin-top: auto;
}


.movies__duration::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #424242;
  top: 0;
  left: 0;
}

.movies__favorite-button {
  background-image: url('../../../images/saved-inactive.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px 9px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #313131;
  border: none;
  cursor: pointer;
}

.movies__delete-button {
  background-image: url('../../../images/delete-button.svg');
  background-size: 13px;
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #313131;
  border: none;
  cursor: pointer;
}

.movies__favorite-button_active {
  background-image: url('../../../images/saved-active.svg');
}

@media (min-width: 768px) {
  .movies__item {
    width: 339px;
    height: 279px;
  }

  .movies__title {
    font-size: 13px;
    line-height: 16px;
    margin-top: 4px;
  }

  .movies__duration {
    font-size: 11px;
    line-height: 13px;
  }

  .movies__delete-button:hover,
  .movies__favorite-button_active:hover,
  .movies__favorite-button:hover {
    opacity: 0.8;
  }

  .movies__image:hover {
    filter: drop-shadow(0 0 3px #4285F4);
  }
}

@media (min-width: 1280px) {
  .movies__item {
    width: 270px;
    height: 240px;
  }
}