.form:not([novalidate]) .form__input:invalid {
  color: #EE3465;
}

.form__input::placeholder {
  font-size: 11px;
  line-height: 18px;
  padding: 0;
  color: #8b8b8b;
  background-color: transparent;
}

/* Profile */
.form_type_profile .form__label {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 13px;
}

.form_type_profile .form__input {
  padding: 0;
  line-height: 13px;
  font-size: 11px;
  background-color: #202020;
  color: #fff;
  text-align: right;
}

.form__item_type_profile:first-child::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #424242;
  bottom: -18px;
  left: 0;
}

.form__input_type_search {
  color: #fff;
}

.form_type_profile .form__input::placeholder {
  color: #fff;
  font-size: var(--text-mobile);
  line-height: 13px;
  opacity: 1;
  text-align: right;
}

@media (min-width: 768px) {
  .form__input::placeholder {
    font-size: 18px;
  }
}